*{
	padding:0;
	margin: 0;
	color: #323232;
}
i,b{
	font-style:normal;
	font-weight: normal;
}

html, body {
	position: relative;
	height: 100%;
}
.index_div{
	/* border:#000 solid 1px; */
}
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	/* text-align: center; */
	font-size: .28rem;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	width: 100%;
}
.index_nav_div{
	color: #323232;
	font-size: .28rem;
	margin:.3rem 0;
}
.index_nav_div dl{
	float: left;
	width: 1.85rem;
	text-align: center;
}
.index_nav_div dl img{
	display: block;
	width: 40%;
	margin: auto;
	margin-bottom: .2rem;
}
.index_experts{
	overflow: hidden;
	width: 100%;
}
.index_experts dl{
	width: 90%;
	overflow: hidden;
	margin:.5rem auto;
	box-shadow:  1px -1px 11px 4px #cccccc;
}
.index_experts dl dt img{
	width: 100%;
}
.index_experts dl dt{
	width: 50%;
	float: left;
	
}
.index_experts dl dd{
	width: 45%;
	float: left;
	color:#323232;
	padding-left: .5rem;
	padding-top: .1rem;
	
}
.inexpert_title {
	font-size: .32rem;
	margin-top: .4rem;
}
.inexpert_label{
	margin-top: .3rem;
}
.inexpert_label span{
	color: #FF0000;
	font-size: .24rem;
	padding:.05rem  .1rem;
	border:#999999 solid 1px;
	margin-left: .1rem;
	border-radius: .1rem;
	
}
.inexpert_time{
	font-size: .24rem;
	margin-top: .3rem;
}
.index_classify_content{
	width: 100%;
}
.index_classify_content dl{
	width: 100%;
	overflow: hidden;
	margin-top: .2rem;
}
.index_classify_content dl dt{
	float: left;
	width: 40%;
}
.index_classify_content dl dt img{
	width: 80%;
	margin: auto;
}
.index_classify_content dl dd{
	float: left;
	width: 50%;
	color: #666666;
	padding-left: .1rem;
}
.inclassify_title{
	margin-top: .5rem;
}
.inclassify_time{
	margin-top: .3rem;
}

/* 专家列表 */
.expert_introduce{
	margin-top: .3rem;
}



/* 资讯列表 */
.infor_div{
	overflow: hidden;
}
.infor_banner{
	width: ;
}
.infor_banner img{
	width: 100%;
}
.infor_ul{
	width: 100%;
	clear: both;
	padding:.3rem 0;
}
.infor_ul li{
	float: left;
	width: 30%;
	color: #666666;
	font-size: .28rem;
	text-align: center;
}
.infor_content{
	clear: both;
	width: 95%;
	margin: auto;
	
}
.infor_content_title{
	font-size: .28rem;
	padding:.3rem 0;
}
.infor_cont_word dl{
	overflow: hidden;
	margin-top: .3rem;
}
.infor_cont_word dt{
	float: left;
	width: 40%;
}
.infor_cont_word  dt img{
	width: 100%;
}
.infor_cont_word dd{
	float: left;
	width: 55%;
	padding-left: .1rem;
}
.infor_world_title{
	padding-top: .3rem;
}
.infor_world_sourse{
	padding-top: .3rem;
	font-size: .28rem;
	color: #999999;
}
.infor_world_time{
	padding-top: .3rem;
	color: #999999;
	font-size: .28rem;
}

/* 专家列表 */
.container {
	/*width: 100%;*/
	/* border: 1px solid #ccc; */
}
.swiper1 {
	width: 100%;
}
.swiper1 .selected {
	color: #ec5566;
	border-bottom: 2px solid #ec5566;
}
.swiper1 .swiper-slide {
	/* text-align: center; */
	font-size: .28rem;
	height: 50px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
}
.swiper2 {
	width: 100%;
}
.swiper2 .swiper-slide {
	/* height: calc(100vh - 50px);//沾满全屏 */
	/* background-color: #ccc; */
	color: #fff;
	/* text-align: center; */
	box-sizing: border-box !important;
	overflow-x: hidden !important;
}
/* 资讯详情 */
.infor_content{
	width: 95%;
	margin: auto;
	padding:.3rem 0;
}
.infor_title{
	padding-top:.3rem;
} 
.infor_mess{
	font-size: .24rem;
	padding:.1rem 0;
	margin: .1rem 0;
	overflow: hidden;
}
.infor_time{
	padding:.1rem 0;
	float: left;
	color: #CCCCCC;
}
.infor_seedetail{
	float: right;
	color:#323232;
	border:#000 solid 1px;
	padding:.1rem .1rem;
	border-radius: .1rem;
}

.center_img{
	
}
.center_img img{
	width: 100%;
}
.infor_uptitle{
	padding:.2rem 0;
	font-size: .28rem;
	color: #666666;
	
}
.infor_updetail p{
	font-size: .28rem;
	color: #999999;
	line-height: .5rem;
}
.infor_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	
}
.colect_btn{
	width: 25%;
	border: #CCCCCC solid 1px;
	padding:.2rem 0;
	text-align: center;
	display: block;
	float: left;
	margin-left: .1rem;
	
}
.assess_btns{
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: .28rem;
	width: 70%;
	display: block;
	float: right;
	padding: .25rem 0;
	text-align: center;
	border-radius: .1rem;
	margin-right: .1rem;
}
/* 收藏 */
.colle_div{
	width: 95%;
	margin:.2rem  auto;
}
.colle_title{
	font-size: .28rem;
}
.colle_title i{
	float: right;
}
.colle_div dl{
	overflow: hidden;
	border-top: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
	padding: .2rem 0;
	margin-top: .1rem;
}
.colle_div dl dt{
	float: left;
	width: 40%;
	
}
.colle_div dl dt img{
	width: 90%;
}
.colle_div dl dd{
	float: left;
	font-size: .28rem;
}
.colle_handle{
	margin-top: .1rem;
}
.collection_delete{
	color: #666666;
}
.colle_endtime{
	font-size: .24rem;
	padding:.1rem 0;
	float: left;
}
.colle_seemore{
	float: right;
	font-size: .24rem;
	padding:.1rem 0;
	border:#CCCCCC solid 1px;
	padding:.05rem .1rem;
	border-radius: .1rem;
	
}
/* 拍卖 */
.colle_money{
	color: #FF0000;
}
.auction_div{
	width: 100%;
	margin: auto;
	min-height: 100%;
	background-color: #f5f5f5;
	
}
.action_header{
	background-color: #FFFFFF;
	padding:0 .5em ;
	overflow: hidden;
}
.auction_bottom{
	background-color: #FFFFFF;
	padding:0 .5em ;
	overflow: hidden;
}
.auction_title{
	font-size: .28rem;
	padding:.2rem 0;
}
.auction_titletwo{
	padding:.2rem .2rem;
	font-size: .28rem;
	color: #666666;
}
.auction_dl{
	width: 100%;
	overflow: hidden;
	color: #323232;
	position: relative;
	padding:.2rem 0;
	border-top: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
}
.auction_dl dt{
	width: 30%;
	float: left;
}
.auction_dl dt img{
	width: 100%;
}
.auction_dl dd{
	width: 60%;
	float: left;
	padding-left: .1rem;
}
.auction_titlep{
	font-size: .28rem;
	color: #666666;
	padding:.2rem 0;
}
.auction_title{
	font-size: .28rem;
}
.suction_money{
	font-size: .24rem;
	padding-top: .2rem;
	color: #999999;
}
.suction_moneyi{
	font-size: .24rem;
	font-style:normal;
	color: #323232;
}
.cauction_pay{
	position: absolute;
	right: .1rem;
	bottom: .5rem;
	font-size: .28rem;
	border: #999999 solid 1px;
	padding:.05rem .15rem ;
	border-radius: .1rem ;
}
.auction_endtime{
	font-size: .24rem;
	padding:.1rem 0;
	float: right;
}
.auction_endtimei{
	color: #FF0000;
}
.auction_infor{
	clear: both;
}
.auction_infor p{
	line-height: .6rem;
	font-size: .28rem;
}
.auction_infor b{
	padding-left: .3rem;
	font-size: .24rem;
	color: #333333;
	line-height: .8rem;
}
.logistics{
	border-top: #eeeeee solid 1px;
}
i.logistics_copy {
	float: right;
	color: #007AFF;
	font-size: .24rem;
}
/* 鉴定详情 */
.assess_div{
	min-height: 100%;
	background-color: #F5F5F5;
}
.assess_tishi{
	float: right;
	font-size: .24rem;
	color: #FF0000;
}
.assess_infor{
	clear: both;
	background-color: #FFFFFF;
	padding: .3rem .2rem ;
}
.assess_infor p{
	line-height: .6rem;
	font-size: .28rem;
	color: #999999;
}
.assess_infor b{
	padding-left: .3rem;
	font-size: .24rem;
	color: #333333;
	line-height: .8rem;
}
.access_bottom{
	background-color: #FFFFFF;
	overflow: hidden;
	font-size: .28rem;
}

.access_bottom{
	padding:.3rem .2rem;
}
.access_bottom p{
	line-height: .6rem;
	font-size: .28rem;
	color: #999999;
}
.assess_imgdiv img{
	margin-top: .2rem;
	width: 46%;
	float: left;
	margin-left: .2rem;
}
/* 个人中心 */
.person_infor{
	overflow: hidden;
	border: #000 solid 1px;
}
.person_infor dt{
	float: left;
}
.person_infor dd{
	float: left;
}
.person_name{
	font-size: .32rem;
	color: #323232;
}
.person_state{
	font-size: .28rem;
	color: #666666;
}
/* 鉴定评估上传 */
.assess_banner img{
	width: 100%;
}


/* 上传图片样式 鉴定*/
.idcard{
	position: relative;
	margin:0 auto;
	font-size: 16px;
	padding: 20px 10px;
   
}
.idcard p{
	font-size: 16px;
	font-family: '微软雅黑', 'Lucida sans', Arial;
}
.idcard_img_background{
	position: relative;
	width:95%;
	height: 200px;
	text-align: center;
	border-radius: 5px;
	margin:20px auto;
	
}
.idcard_img_background p{
	position: absolute;
	
}
.idcard_img_background p:last-child{
	font-size:16px;
}
.p1{
	left:50%;
	transform: translate(-50%, -50%);
	top:90px;
	cursor: pointer;
}
.p1 img{
	margin: auto;
}
.p2{
	left:50%;
	transform: translate(-50%, -50%);
	top:150px;
	cursor: pointer;
	color:#000;
	font-size:18px;
}
.idcard_img{
	width: 90%;
	height: 200px;
	opacity: 0.6;
	margin: auto;
}
.idcard_img1{
	width: 100%;
	height: 180px;
}
.hide_p{
	opacity: 0;
}
.alive_btn{
	background-color: #FA554A;
	border:none;
	border-radius: 4px;
	height:45px;
	line-height:45px;
	text-align: center;
	color: #ffffff;
	width: 80%;
	font-size: 18px;
	margin:10px auto ;
	display: block;
}
input.file-style{
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 40px;
	height:60px
	
}
.assess_content{
	width: 90%;
	margin: auto;
}
.assess_content label{
	display: block;
	padding: .1rem 0;
}
.assess_btn{
	background-color: darkred;
	padding:.2rem 0;
	width: 80%;
	margin: auto;
	display: block;
	color: #FFFFFF;
	font-size: .32rem;
	margin-top: .3rem;
}
/* 拍卖列表 */
.action_class_title{
	padding:.2rem;
	
}
.auciton_class_ul{
	background-color: #F5F5F5;
	overflow: hidden;
	font-size: .28rem;
}
.auciton_class_ul li{
	width: 30%;
	float: left;
	background-color: #FFFFFF;
	text-align: center;
	padding:.2rem 0;
	height: .7rem;
	margin: .2rem .1rem;
}
.action_list_content{
	
}
.action_list_content dl{
	width: 45%;
	float: left;
	margin-right: .2rem;
	
}
.action_list_content dl img{
	width: 100%;
}
.action_centen_name{
	padding:.2rem 0;
	font-size: .28rem;
}
.action_centen_money{
	font-size: .24rem;
}
.action_centen_num{
	font-size: .24rem;
	float: right;
	color: #FF0000;
}
















