@font-face {
  font-family: 'iconfont';  /* project id 1931134 */
  src: url('//at.alicdn.com/t/font_1931134_gx6699cntec.eot');
  src: url('//at.alicdn.com/t/font_1931134_gx6699cntec.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1931134_gx6699cntec.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1931134_gx6699cntec.woff') format('woff'),
  url('//at.alicdn.com/t/font_1931134_gx6699cntec.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1931134_gx6699cntec.svg#iconfont') format('svg');
}
 .iconfont {
  font-family:"iconfont" !important;
  font-size:.32rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.infor_ul_icon{
	color: #CCCCCC;
}
.infor_ul_icon_star{
	color: #FF0000;
}
.expert_ul li i{
	color: #FF0000;
	font-size: .6rem;
	vertical-align: middle;
}
