@font-face {
  font-family: 'iconfont';  /* project id 1931134 */
  src: url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.eot');
  src: url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.woff') format('woff'),
  url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1931134_l8dk7kprl7a.svg#iconfont') format('svg');
}
 .iconfont {
  font-family:"iconfont" !important;
  font-size:.32rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.infor_ul_icon{
	color: #CCCCCC;
}
.infor_ul_icon_star{
	color: #FF0000;
}
.expert_ul li i{
	color: #933325;
	font-size: .5rem;
	vertical-align: middle;
	/* padding-right: .1rem; */
}
.person_iconcss{
	color: #666666;
	font-size: .5rem;
	line-height: .6rem;
}
.person_navlist{
	color: #666666;	
	font-size: .4rem;
	line-height: .6rem;
}
.jian_icon{
	font-size: .4rem;
	color: #8B0000;
	vertical-align: middle;
	padding-right: .1rem;
}












